
.compose-wrapper
{
    display: flex;
    align-items: center;

    background: var(--compose-background-color);
    border-left: 1px solid var(--app-background-color);
    position: absolute;
    bottom: 0px;
    min-height: var(--header-height);
    width: 100%;
    vertical-align: middle;
    
    .compose
    {
        width: 100%;
        display: grid;
        grid-template-columns: 40px auto 40px;
        padding: 0 10px;
        gap: 10px;

        .compose-input 
        {
            border: none;
            font-size: 14px;
            height: 40px;
            background: none;
            color: var(--compose-input-color);
    
            &::placeholder
            {
                color: var(--compose-input-placeholder-color);
            }
    
            &:focus
            {
                outline: none;
    
                &::placeholder
                {
                    color: var(--compose-input-placeholder-focus-color);
                }
            }
        }
    }
}

@supports (backdrop-filter: blur(20px)) 
{
    .compose 
    {
        border: none;
        background-color: var(--compose-background-color);
        backdrop-filter: blur(20px);
    }
}

.compose .toolbar-button 
{
    color: #bbbbbf;
    margin-left: 15px;
}

.compose .toolbar-button:hover 
{
    color: #99999c;
}