.error-page
{
    background-color: var(--alternate-background-color);
    color: var(--app-color);

    width: 100vw;
    height: 100vh;

    .error-container
    {
        height: 100%;
        padding: auto 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .error-title
        {
            text-align: center;
            font-weight: bold;
            font-size: xx-large;
        }
    }
}