.dark
{
	--app-background-color: rgb(14,22,33);

	--sidebar-background-color: rgb(23,33,43);
	--sidebar-background-hover-color: rgb(32,43,54);
	--sidebar-background-active-color: rgb(43,82,120);
	--sidebar-color: rgb(245,245,245);
	--sidebar-active-color: rgb(255, 255, 255);
	
	--search-input-background-color: rgb(36,47,61);
	--search-input-placeholder-color: rgb(106,117,128);
	--search-input-placeholder-focus-color: rgb(88,99,109);
	--search-input-color: rgb(245,245,245);

	--conversation-snippet-color: rgb(90,109,127);
	--conversation-title-color: rgb(245,245,245);

	--sender-message-background-color: rgb(43,82,120);
	--companion-message-background-color: rgb(24,37,51);
	--message-color: rgb(225,229,227);
}