/*
.chat
{
	position: relative;
	
	.message-list-container 
	{
		position: absolute;

		width: 100%;
		height: calc(100% - var(--header-height) - var(--header-height));

		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}
*/
