.sidebar-wrapper
{
    display: flex;
    height: 100vh;
    background: var(--sidebar-background-color);
    align-items: center;
    justify-content: center;

    .sidebar
    {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .sidebar-button
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 25px;
            height: 25px;
        }
    }
}
